{% extends "home.html" %} {% block b2 %}href="{%url 'find_service'%}"{% endblock%} {% block b3 %}href="{%url 'proj_type'%}"{% endblock%} {% block b4 %}href="{%url 'emp_list'%}"{%endblock%} {% block b5 %}href="{%url 'add_user'%}"{% endblock%}
<br> {% block header_x %}


<div class="main_cont">

    <form action="" method="POST" class="form_model">
        <h1 class="section-title">Select your Region</h1>
        {{form.as_p}}

        <button type="submit" class="submit_model">Login</button>
        <a href="{% url 'add_user' %}" class="submit_model">Register if new</a>



    </form>
</div>
{% endblock %} {% block container_x %} {% endblock container_x %}